<nav class="nav has-shadow is-info">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/">
          <span class="icon is-large is-static">
              <i class="fa fa-flag-checkered" aria-hidden="true"></i>
          </span>
          <span> Flying Lap</span>
      </a>
      <a class="nav-item is-tab" href="/">Home</a>
      <a class="nav-item is-tab" href="/schedule/2017">Schedule</a>
      <a class="nav-item is-tab" href="/about">About</a>
    </div>
  </div>
</nav>
