{% extends 'layout.html' %}

{% block body %}
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Race results -
            {{ dict['MRData']['RaceTable']['season'] }}
            {{ dict['MRData']['RaceTable']['Races'][0]['raceName'] }}
          </h1>
          <h2 class="subtitle">
            {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['circuitName'] }}
             -
             {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['Location']['locality'] }},
             {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['Location']['country'] }}
          </h2>
        </div>
      </div>
    </section>
    {{ table | safe }}
{% endblock %}
