{% extends 'layout.html' %}

{% block body %}

    {% set season = dict['MRData']['RaceTable']['season'] %}
    {% set round = dict['MRData']['RaceTable']['round'] %}

    <section>
        <nav class="breadcrumb is-centered">
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('schedule_page', year=2017) }}">Schedule</a></li>
            <li><a href="{{ url_for('schedule_page', year=season) }}">Season {{ season }}</a></li>
            <li class="is-active"><a href="{{ url_for('race_results', season=season, ronde=round) }}">Race results for round {{ round }}</a></li>
          </ul>
        </nav>
    </section>

    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Race results -
            {{ dict['MRData']['RaceTable']['season'] }}
            {{ dict['MRData']['RaceTable']['Races'][0]['raceName'] }}
          </h1>
          <h2 class="subtitle">
            {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['circuitName'] }}
             -
             {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['Location']['locality'] }},
             {{ dict['MRData']['RaceTable']['Races'][0]['Circuit']['Location']['country'] }}
          </h2>
        </div>
      </div>
    </section>
    {{ table | safe }}
{% endblock %}
